body {
    background-color: #22222a;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bord {
    #padding-top: 100px;
}

.bord {
    background-color: grey;
    padding: 5px;
    border-radius: 4px;
}

.bord > div {
    display: flex;
}

.bord img {
    border-radius: 4px;
    object-fit: none;
    border: 1px solid black;
    position: relative;
}

.bord + div {
    margin: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
}

.bord + div > div, input {
    margin-top: 5px;
}

.pos {
    display: inline-block;
    background-color: white;
    text-align: center;
    width: 40px;
    height: 30px;
    box-shadow: inset 3px 3px 3px #ccc;
    border-radius: 6px;
    border: 2px;
    padding: 1px;
}

label {
    color: white;
    margin-left: 5px;
}